{% extends "base-main.html" %}
{% block title %}{{ halaman|title }}{% endblock title %}
{% block breadcrumb %}{{ halaman|title }}{% endblock breadcrumb %}
{% block page %}{{ halaman|title }}{% endblock page %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Penyisipan</p>
              <h5 class="font-weight-bolder text-4xl">
                {{data.0.0}}
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+{{data.0.1}}</span>
                hari ini
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape-xl bg-gradient-primary shadow-primary text-center rounded-circle">
              <i class="ni ni-bold-right mt-3 text-4xl text-white opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        {% if data.0.0 != 0 %}
        <ul class="list-group">
          {% for dt in data.0.2 %}
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="me-3 text-center">
                <i class="bi bi-{{forloop.counter}}-square text-2xl"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">{{dt.namagambar}}</h6>
                <span class="text-xs">{{dt.waktu}}</span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><a href="{% url 'detail' 'penyisipan' dt.id %}"><i class="ni ni-bold-right" aria-hidden="true"></i></a></button>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        Data tidak tersedia
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Ekstraksi</p>
              <h5 class="font-weight-bolder text-4xl">
                {{data.1.0}}
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+{{data.1.1}}</span>
                hari ini
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape-xl bg-gradient-primary shadow-primary text-center rounded-circle">
              <i class="ni ni-bold-left mt-3 text-4xl text-white opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        {% if data.1.0 != 0 %}
        <ul class="list-group">
          {% for dt in data.1.2 %}
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <div class="me-3 text-center">
                <i class="bi bi-{{forloop.counter}}-square text-2xl"></i>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1 text-dark text-sm">{{dt.namagambar}}</h6>
                <span class="text-xs">{{dt.waktu}}</span>
              </div>
            </div>
            <div class="d-flex">
              <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><a href="{% url 'detail' 'ekstraksi' dt.id %}"><i class="ni ni-bold-right" aria-hidden="true"></i></a></button>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        Data tidak tersedia
        {% endif %}
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Users</p>
              <h5 class="font-weight-bolder mt-2">
                {% if data.users is not none %}{{ data.users }}{% else %}0{% endif %}
            </h5>
            <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+{% if data.today_users is not none %}{{ data.today_users }}{% else %}0{% endif %}</span>
                hari ini
            </p>
        </div>
    </div>
    <div class="col-4 text-end">
        <div class="icon icon-shape bg-gradient-danger shadow-primary text-center rounded-circle">
          <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
      </div>
  </div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Penyisipan</p>
              <h5 class="font-weight-bolder mt-2">
                {% if penyisipan is not none %}{{ penyisipan }}{% else %}0{% endif %}
            </h5>
            <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+{% if penyisipan_td is not none %}{{ penyisipan_td }}{% else %}0{% endif %}</span>
                hari ini
            </p>
        </div>
    </div>
    <div class="col-4 text-end">
        <div class="icon icon-shape bg-gradient-success shadow-danger text-center rounded-circle">
          <i class="ni ni-map-big text-lg opacity-10" aria-hidden="true"></i>
      </div>
  </div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Pengekstrakan</p>
              <h5 class="font-weight-bolder mt-2">
                {% if pengekstrakan is not none %}{{ pengekstrakan }}{% else %}0{% endif %}
            </h5>
            <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+{% if pengekstrakan_td is not none %}{{ pengekstrakan_td }}{% else %}0{% endif %}</span>
                hari ini
            </p>
        </div>
    </div>
    <div class="col-4 text-end">
        <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
          <i class="ni ni-album-2 text-lg opacity-10" aria-hidden="true"></i>
      </div>
  </div>
</div>
</div>
</div>
</div> -->
</div>

{% endblock content %}