{% extends "base-main.html" %}
{% block title %}{{ halaman|title }}{% endblock %}
{% block breadcrumb %}{{ halaman|title }}{% endblock %}
{% block page %}{{ halaman|title }}{% endblock %}

{% block content %}
<div class="row">
      <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                  <div class="card-header pb-0">
                        <h6>{{ halaman|title }}</h6>
                  </div>
                  <div class="card-body">
                        {% for message in messages %}
                        <div class="container-fluid p-0">
                              <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} text-white alert-dismissible" role="alert" >
                                  <i class="fa {% if message.tags == 'success' %}fa-check-circle{% else %}fa-exclamation-circle{% endif %}" aria-hidden="true"></i>&nbsp;
                                  {{ message }}
                            </div>
                      </div>
                      {% endfor %}

                     
                  </div>


            </div>
      </div>
</div>
{% endblock %}